.navArea {
  width: 100%;
  background-color: #ffffff;
  &__navBar {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    &__tabArea {
      //   width: 100%;
      display: flex;
      align-items: center;
      padding: 15px 15px 12px 0;
      border-right: 0.5px solid #c5c4c4;
      &__threeLine {
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        // padding: 7px 0;
        width: 30px;
        & > span {
          display: inline-block;
          width: 100%;
          height: 3px;
          background-color: #333;
          margin: 2px 0;
        }
        & > span:nth-last-child(1) {
          width: 40%;
          right: 0%;
        }
      }
      &__logo {
        width: 100px;
        height: 30px;
        display: inline-block;
        overflow: hidden;
        & > img {
          width: 100%;
          height: 100%;
        }
      }
    }
    &__loginArea {
      flex: 1;
      padding: 0 0 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__loginBtn {
        display: flex;
        column-gap: 20px;
        align-items: center;
        & > span {
          font-size: 22px;
          color: #e4002b;
          position: relative;
          & > span {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            background-color: #fff;
            border: 2px solid #e4002b;
            color: #e4002b;
            border-radius: 50%;
            font-size: 14px;
            font-weight: 700;
            position: absolute;
            top: -5px;
            right: -5px;
          }
        }
      }
    }
  }
}
