.dealsArea {
  width: 100%;
  margin: auto;
  padding: 20px 100px;
  &__deals {
    padding: 150px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    overflow: hidden;
  }
}
